*
  box-sizing: border-box

a
  text-decoration: none
 
.container
  max-width: px-to-rem(1200px)
  margin: auto
  padding: 0 px-to-rem(15px)
  overflow-y: hidden

.section
  padding-top: px-to-rem(75px)
  padding-bottom: px-to-rem(50px)
  &__head
    text-align: center

.row
  @include flex-grid(40px)


.col-33
  flex: 0 1 calc(100% / 12 * 4 - 40px)
  display: flex
  flex-flow: column wrap
  justify-content: space-between