html
  font-size: $htmlfz

body
  font-family: "Montserrat", sans-serif
  font-size: 1.14rem
  font-weight: 600
  color: $water
    

ul, h1, h2, h3, h4, p, img, a
  margin: 0
  padding: 0

li
  list-style-type: none

a
  text-decoration: none

img
  max-width: 100%
  object-fit: cover

.title
  font-size: px-to-rem(28px)
  line-height: px-to-rem(34px)
  color: $water
  margin-bottom: px-to-rem(16px)
  margin-top: 0
  &__item
    width: px-to-rem(60px)
    height: px-to-rem(36px)
    background: url('../images/couch.svg') no-repeat center/cover
    margin: auto
    position: relative
    display: flex
    align-items: center
    margin-bottom: 26px
    &::after
      position: absolute
      content: ''
      width: px-to-rem(45px)
      height: 3px
      background: $warning
      right: -112%
    &::before
      position: absolute
      content: ''
      width: px-to-rem(45px)
      height: 3px
      background: $warning
      left: -112%
.text
  font-size: px-to-rem(18px)
  font-weight: 600
  line-height: 17px
  color: $water
  margin-bottom: 36px