@media screen and ( max-width:  1200px)
  $htmlfz: 12px
  html
    font-size: $htmlfz

@media screen and ( max-width:  992px)
  $htmlfz: 10px
  html
    font-size: $htmlfz
  .nav
    &__item
      &:not(:last-child)
        margin-right: px-to-rem(24px)
  .row
    @include flex-grid(30px)

  .sub-item
    @include size(30px, 12)
  .img-block
    display: none
@media screen and ( max-width:  850px)
  .contacts
    &__phone
      margin-right: px-to-rem(50px)
@media screen and ( max-width:  769px)
  $htmlfz: 8px
  html
    font-size: $htmlfz
  .nav
    display: none
  .contacts
    width: 40%
    justify-content: space-between
    &__phone
      margin-right: px-to-rem(2px)
    &__svg
      display: block
@media screen and ( max-width:  560px)
  .contacts
    width: 65%
    &__phone
      margin-right: 0
  .hero
    height: 90vh
  .button
    &--yel
      width: 58%
      font-size: 14px
      border: 2px solid $navy
@media screen and ( max-width:  500px)
  .section
    padding-top: px-to-rem(45px)
  .row
    @include flex-grid(20px)

  .sub-item
    @include size(20px, 12)
  .info
    &-item
      @include size(20px, 12)

@media screen and ( max-width:  360px)
  .contacts
    width: 85%
    justify-content: flex-end
    &__button
      display: none
    &__svg
      display: none
  .slider
    &__title
      font-size: px-to-rem(25px)
@media screen and ( max-width:  280px)
  .button
    &--yel
      font-size: 12px